<div>
    <fieldset>
        <legend>菜单管理</legend>
        <div class="table-responsive">
            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label>
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>名称</th>
                        <th>单价</th>
                        <th><i class="icon-time bigger-110 hidden-480"></i>添加时间</th>
                        <th>状态</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                <?php
                    $rs = $pager->paginate();
                    while($rs && $c = mysql_fetch_assoc($rs)):
                ?>
                    <tr id="goods<?=$c['id']?>">
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ace" name="ids[]" value="<?=$c['id']?>"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <a href="#"><?=$c['name']?></a>
                        </td>
                        <td><?=$c['price']?></td>
                        <td><?=$c['createDate']?></td>
                        <td>
                            <?php if($c['status']==0):?>
                            <span class="label label-sm label-success">上架</span>
                            <?php endif;?>
                            <?php if($c['status']==1):?>
                            <span class="label label-sm label-inverse arrowed-in">下架</span>
                            <?php endif;?>
                        </td>
                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                <a class="blue" href="#">
                                    <i class="icon-zoom-in bigger-130"></i>
                                </a>

                                <a class="green" href="javascript:;" onclick="updateGoods(<?=$c['id']?>)">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>

                                <a class="red" href="javascript:;" onclick="delOneGoods(<?=$c['id']?>)">
                                    <i class="icon-trash bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                <?php endwhile;?>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <span class="ui-pg-div">
                    <span class="ui-icon icon-trash red" onclick="delSelectedGoods()"></span>
                    <span>删除选中</span>
                </span>
                <span class="ui-pg-div">
                    <span class="ui-icon icon-plus-sign purple" onclick="addGoods()"></span>
                    <span>新增菜品</span>
                </span>
            </div>
            <div class="col-md-10 text-right">
                <?php
                echo $pager->renderFirst("首页") . '&nbsp;' . $pager->renderPrev("上一页") . '&nbsp;' . $pager->renderNav() . '&nbsp;' . $pager->renderNext("下一页") . '&nbsp;' . $pager->renderLast("尾页");
                ?>
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript">
    function addGoods() {
        var $addMenuModal = $("#addMenuModal");
        if ($addMenuModal.length > 0) {
            $addMenuModal.modal();
        } else {
            $.get("?c=admin&a=addGoodsPage", function (data) {
                $("body").append(data);
            });
        }
    }
    function updateGoods(id) {
        var $updateMenuModal = $("#updateMenuModal");
        if ($updateMenuModal.length > 0) {
            $updateMenuModal.remove();
        }
        $.get("?c=admin&a=updateGoodsPage", {id: id}, function (data) {
            $("body").append(data);
        });
    }
    function _delGoods(ids) {
        $.post("?c=admin&a=delGoods", {ids: ids}, function (message) {
            $.message(message);
            if (message.type == "success") {
                $.each(ids, function(i, id) {
                    $("#goods" + id).hide();
                });
            }
        })
    }
    function delOneGoods(id) {
        if (confirm("你确定要删除该菜品么？")) {
            _delGoods([id]);
        }
    }
    function delSelectedGoods() {
        var $inputs = $("input[name='ids[]']:checked");
        if ($inputs.length == 0) {
            alert("请先选择要删除的菜品");
            return;
        }
        if (confirm("你确定要删除所有选中的菜品么?")) {
            var ids = $inputs.map(function () {
                return this.value;
            }).get();
            _delGoods(ids);
        }
    }
    $(function(){
        $('table th input:checkbox').on('click' , function(){
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });

        });
    });
</script>
