<div>
    <fieldset>
        <legend>订单管理</legend>
        <div class="table-responsive">
            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center" style="width: 3%">
                        <label>
                            <input type="checkbox" class="ace" id="selectAll"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th style="width: 5%">订单号</th>
                    <th style="width: 5%">姓名</th>
                    <th style="width: 10%">手机号</th>
                    <th style="width: 28%">送货地址</th>
                    <th style="width: 15%">备注</th>
                    <th style="width: 10%">订购商品</th>
                    <th style="width: 5%">总价</th>
                    <th style="width: 8%">状态</th>
                    <th style="width: 13%"><i class="icon-time bigger-110 hidden-480"></i>下单时间</th>
                </tr>
                </thead>

                <tbody>
                <?php
                    $rs = $pager->paginate();
                    while($rs && $c = mysql_fetch_assoc($rs)):
                ?>
                <tr id="order<?=$c['id']?>">
                    <td class="center">
                        <label>
                            <input type="checkbox" class="ace" name="ids[]" value="<?=$c['id']?>"/>
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td><?=$c['id']?></td>
                    <td><?=$c['name']?></td>
                    <td><?=$c['mobile']?></td>
                    <td><?=$c['address']?></td>
                    <td><?=$c['comments']?></td>
                    <td>
                        <?php
                            $order_goods_list = get_order_goods_list($c['id']);
                            foreach($order_goods_list as $c1){
                                echo $c1['name'] . ' x ' . $c1['num'] . '<br>';
                            }
                        ?>
                    </td>
                    <td>¥<?=$c['total']?></td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                                <span id="status<?=$c['id']?>">
                                    <?php if($c['status']==0):?>
                                    未处理
                                    <?php elseif($c['status']==1):?>
                                    处理中
                                    <?php elseif($c['status']==2):?>
                                    已发货
                                    <?php elseif($c['status']==3):?>
                                    已收款
                                    <?php endif;?>
                                </span>
                                <i class="icon-angle-down icon-on-right"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-inverse">
                                <?php if(1>$c['status']):?>
                                <li><a href="javascript:;" onclick="changeOrderStatus(this,<?=$c['id']?>,1)">处理中</a></li>
                                <?php endif;?>
                                <?php if(2>$c['status']):?>
                                <li><a href="javascript:;" onclick="changeOrderStatus(this,<?=$c['id']?>,2)">已发货</a></li>
                                <?php endif;?>
                                <?php if(3>$c['status']):?>
                                <li><a href="javascript:;" onclick="changeOrderStatus(this,<?=$c['id']?>,3)">已收款</a></li>
                                <?php endif;?>
                                <li><a href="javascript:;" onclick="changeOrderStatus(this,<?=$c['id']?>,9)">已结束</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;" onclick="changeOrderStatus(this,<?=$c['id']?>,-1)">作废该订单</a></li>
                            </ul>
                        </div>
                    </td>
                    <td><?=$c['createDate']?></td>
                </tr>
                <?php endwhile;?>
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <span class="ui-pg-div">
                    <span class="ui-icon icon-trash red" onclick="dropSelectOrders()"></span>
                    <span>作废选中</span>
                </span>
            </div>
            <div class="col-md-10 text-right">
                <?php
                echo $pager->renderFirst("首页") . '&nbsp;' . $pager->renderPrev("上一页") . '&nbsp;' . $pager->renderNav() . '&nbsp;' . $pager->renderNext("下一页") . '&nbsp;' . $pager->renderLast("尾页");
                ?>
            </div>
        </div>
    </fieldset>
</div>
<script type="text/javascript">
    function changeOrderStatus(elem, id, status) {
        var $elem = $(elem);
        var data = {
            ids: [id],
            status: status
        };
        $.post("?c=admin&a=changeOrderStatus", data, function (message) {
            $.message(message);
            if (message.type == "success") {
                if (status != 9 && status != -1) {
                    $("#status" + id).text($elem.text());
                    $elem.parent().prevAll().hide();
                    $elem.parent().hide();
                } else {
                    $("#order" + id).hide();
                }
            }
        })
    }
    function dropSelectOrders() {
        var $inputs = $("input[name='ids[]']:checked");
        if ($inputs.length == 0) {
            alert("请先选择要作废的订单");
            return;
        }
        if (confirm("你确定要作废所有选中的订单么?")) {
            var ids = $inputs.map(function () {
                return this.value;
            }).get();
            var data = {
                ids: ids,
                status: -1
            };
            $.post("?c=admin&a=changeOrderStatus", data, function (message) {
                $.message(message);
                if (message.type == "success") {
                    $.each(ids, function (i, id) {
                        $("#order" + id).hide();
                    });
                }
            })
        }
    }
    $(function(){
        $('#selectAll').on('click', function () {
            var that = this;
            $("input[name='ids[]']").each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });

        });
    });
</script>
