<!-- basic styles -->
<link rel="stylesheet" href="static/admin/css/bootstrap.min.css"/>
<link rel="stylesheet" href="static/admin/css/bootstrap-timepicker.css"/>
<link rel="stylesheet" href="static/admin/css/font-awesome.min.css"/>
<link rel="stylesheet" href="static/admin/css/jquery-ui-1.10.3.full.min.css"/>

<!--[if IE 7]>
<link rel="stylesheet" href="static/admin/css/font-awesome-ie7.min.css"/>
<![endif]-->

<!-- fonts -->
<!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>-->

<!-- ace styles -->
<link rel="stylesheet" href="static/admin/css/ace.min.css"/>
<link rel="stylesheet" href="static/admin/css/ace-rtl.min.css"/>
<link rel="stylesheet" href="static/admin/css/ace-skins.min.css"/>

<!--[if lte IE 8]>
<link rel="stylesheet" href="static/admin/css/ace-ie.min.css"/>
<![endif]-->

<!-- customize style -->
<link rel="stylesheet" href="static/admin/css/admin.css"/>

<!-- ace settings handler -->
<script src="static/admin/js/ace-extra.min.js"></script>

<!--[if lt IE 9]>
<script src="static/admin/js/html5shiv.js"></script>
<script src="static/admin/js/respond.min.js"></script>
<![endif]-->
