#header{font:12px/1.5 tahoma,arial,\5b8b\4f53;list-style:none;height:145px;margin-bottom:10px;}
#header a{text-decoration:none;outline:none; cursor:pointer;}
#header a:hover{text-decoration:underline;}
/*#header dl,ol,ul,li{list-style:none;}*/
#header img{border:none;vertical-align:top;}
#header .hdt-wrap{background-repeat:repeat-x;}
#header .hdt{width:990px;margin:0 auto;height:105px;}
#header .logo{float:left;padding-top:18px; overflow:hidden;}
#header .logo img{ max-height:80px;}
#header .hdc{width:670px;height:105px;float:right;}
#header .hdi{height:26px;padding-right:5px;background-position:right -285px;position:relative;z-index:1000;}
#header .login{width:auto;height:26px;float:right;background-position:0 -258px;background-repeat:repeat-x;position:relative;padding-left:55px;}
#header .login span{display:inline-block;height:26px;float:left;padding-right:12px;line-height:26px;color:#727071;}
#header .login i{  padding-top:5px;}
#header .login span.left{width:29px;background-position:0 -322px;padding-right:0;position:absolute;left:0;top:0;}
#header .login a.loga{display:inline-block;height:26px;width:auto;float:left;color:#506eaa;margin-right:10px;line-height:26px;}
#header .hdi ul{width:auto;float:right;}.hdi li{width:auto;height:18px;float:left;padding-top:4px;_padding-top:6px;vertical-align:top;}
#header .hdi li a{color:#656565;padding:2px 9px 2px 8px;}
#header .hdi li span{display:inline-block;margin-top:2px;width:0;height:9px;font-size:9px;line-height:9px;border-left:1px solid #c7c7c7;}
#header .nav-wrap{background-color:#ff7d00;background-position:0 -105px;background-repeat:repeat-x;border-bottom:1px solid #FFF;}
#header .nav{width:990px;margin:0 auto;height:38px;padding-left:0;}
#header .nav a{color:#FFF;padding-right:17px;height:38px;width:auto;display:block;float:left;font:bold 14px/38px \5b8b\4f53;background-position:right -361px;position:relative;}
#header .nav a span{display:inline-block;padding-left:15px;cursor:pointer;}
#header .nav a:hover{background-position:right -181px;margin-left:-2px;text-decoration:none; color:White;}
#header .nav a:hover span{background-position:left -181px;padding-left:17px;text-decoration:none;}
#header .nav a.lashou:hover{_padding-left:-1px;}
#header .nav a.current{background-position:right -219px;margin:0 2px 0 -2px;}
#header .nav a.current span{background-position:left -219px;}
#header .nav a.current:hover{background-position:right -219px;}
#header .nav a.current:hover span{margin-left:0;padding-left:15px;background-position:left -219px;}
#header .nav a.mobile{float:right;width:88px;height:38px;background-position:-31px -322px;padding:0 0 0 36px;margin-right:-3px;}
#header .nav a.mobile:hover{background-position:-31px -322px;}
#header .nav a.cart{float:right; font-size:13px; font-weight:bold;}