@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body{font:12px/1 arial,tahoma,"宋体";text-align:center;padding:0px;margin:0px;background-color:#f0f0f0;overflow-x: hidden;}
img{ border:0px;}
select{border:1px #7f9db9 solid;}
input{border:1px #7f9db9 solid;height: 21px;outline:none;}
table { padding:1px 0px 1px 0px;  width:100%;height: 50px;}
a{color:#666666;text-decoration:none;}
.clearfix {clear: both}
.clear:after{ content:"."; display:block; clear:both; height:0; visibility:hidden;}

#header{font:12px/1.5 tahoma,arial,\5b8b\4f53;list-style:none;height:145px;margin-bottom:10px;}
#header a{text-decoration:none;outline:none; cursor:pointer;}
#header a:hover{text-decoration:underline;}
#header dl,ol,ul,li{list-style:none;}
#header img{border:none;vertical-align:top;}
#header .hdt-wrap{background-repeat:repeat-x;}
#header .hdt{width:990px;margin:0 auto;height:105px;}
#header .logo{float:left;padding-top:18px; overflow:hidden;}
#header .logo img{ max-height:80px;}
#header .hdc{width:670px;height:105px;float:right;}
#header .hdi{height:26px;padding-right:5px;background-position:right -285px;position:relative;z-index:1000;}
#header .login{width:auto;height:26px;float:right;background-position:0 -258px;background-repeat:repeat-x;position:relative;padding-left:55px;}
#header .login span{display:inline-block;height:26px;float:left;padding-right:12px;line-height:26px;color:#727071;}
#header .login i{  padding-top:5px;}
#header .login span.left{width:29px;background-position:0 -322px;padding-right:0;position:absolute;left:0;top:0;}
#header .login a.loga{display:inline-block;height:26px;width:auto;float:left;color:#506eaa;margin-right:10px;line-height:26px;}
#header .hdi ul{width:auto;float:right;}.hdi li{width:auto;height:18px;float:left;padding-top:4px;_padding-top:6px;vertical-align:top;}
#header .hdi li a{color:#656565;padding:2px 9px 2px 8px;}
#header .hdi li span{display:inline-block;margin-top:2px;width:0;height:9px;font-size:9px;line-height:9px;border-left:1px solid #c7c7c7;}
#header .nav-wrap{background-color:#ff7d00;background-position:0 -105px;background-repeat:repeat-x;border-bottom:1px solid #FFF;}
#header .nav{width:990px;margin:0 auto;height:38px;padding-left:0;}
#header .nav a{color:#FFF;padding-right:17px;height:38px;width:auto;display:block;float:left;font:bold 14px/38px \5b8b\4f53;background-position:right -361px;position:relative;}
#header .nav a span{display:inline-block;padding-left:15px;cursor:pointer;}
#header .nav a:hover{background-position:right -181px;margin-left:-2px;text-decoration:none; color:White;}
#header .nav a:hover span{background-position:left -181px;padding-left:17px;text-decoration:none;}
#header .nav a.lashou:hover{_padding-left:-1px;}
#header .nav a.current{background-position:right -219px;margin:0 2px 0 -2px;}
#header .nav a.current span{background-position:left -219px;}
#header .nav a.current:hover{background-position:right -219px;}
#header .nav a.current:hover span{margin-left:0;padding-left:15px;background-position:left -219px;}
#header .nav a.mobile{float:right;width:88px;height:38px;background-position:-31px -322px;padding:0 0 0 36px;margin-right:-3px;}
#header .nav a.mobile:hover{background-position:-31px -322px;}
#header .cart{float:right; font-size:13px; font-weight:bold; color:#888;  margin-top:23px; background-repeat:no-repeat;background-image:url("");background-position:0px -37px; height:33px; line-height:33px; width:177px; }
#header .cart a:hover{ text-decoration:none;}

.main {text-align: center; margin: 0 auto; width: 993px; background-color: #fefefe; padding: 0;}
.main .notice {width: 100%; height: 28px; line-height: 28px;}
.main .left {float: left;width: 735px;margin: 5px 0 8px 8px;padding: 0;display: inline;color: #333;background: none repeat scroll 0 0 #ffffff;text-align: left;overflow: visible;border: 1px solid #eee;border-top: 2px solid #FE8502;}
.main .left .filters {margin-bottom:10px;font-size:13px;}
.main .left .menu {padding-top: 10px}
.main .right{float:left; width:240px; text-align:left;margin-left: 8px; padding:0; overflow:hidden;display:inline;}

.sequence-side{ margin:0 0 10px 0;}
.seq-result{ margin:10px;}
.seq-result dl{ margin:0 0 12px 0;}
.seq-result dl dt{ float:left;width:45px; font-weight:bold; padding-top:7px;}
.seq-result dl dd{ float:left; width:668px; line-height:28px; _height:28px; min-height:28px;}
.seq-result dl dd a{padding:2px 4px 1px 4px;*+padding:2px 4px 1px 4px;_padding:2px 4px 1px 4px; margin:0 3px 0 0; }
.seq-result dl dd a.sr-current,.seq-result dd a:hover{ background-color:#e85; color:#fff; text-decoration:none; font-weight:bold;}

.sort-type{ border-bottom:solid 1px #d9d9d9; border-top:solid 1px #f5f5f5; background-position:0 -124px; height:30px;line-height:20px; line-height:22px;}
.sort-t-lf{ float:left; margin-left:12px; display:inline;padding:4px 0 0 0;width:400px;}
.sort-t-lf .sort-f{ float:left; margin-right:2px;}
.sort-t-lf .sort-t-in dd{ float:left; margin-right:5px;padding-right:5px;}
.sort-t-lf .sort-t-in dd a{padding:1px 8px 3px 6px;*+padding:3px 12px 2px 6px;_padding:1px 12px 3px 6px;}
.sort-t-lf .sort-t-in dd a:hover,.sort-t-lf .rebate a:hover,.sort-t-lf .rebate a.active {background-color: #e85;text-decoration: none;color: #fff;}
.sort-t-lf .sort-t-in a.tolerate{background-color:#e85;color:#fff; padding:1px 6px 3px 6px;*+padding:3px 6px 2px 6px; _padding:1px 6px 3px 6px;}
.sort-t-rt{ float:right; padding:3px 10px 0 0;}
.sort-t-rt span{ float:right; font-weight:bold;}
.sort-t-rt .s-t-search{ float:left; width:160px;border:solid 1px #d9d9d9; background-position:0 -158px; height:22px; margin-right:5px; position:relative;}
.sort-t-rt .s-t-search input{ border:0; outline:none; background-color:transparent; padding:2px 2px 2px 5px; height:18px;_height:16px;line-height:18px; width:138px; overflow:hidden; }
.sort-t-rt .fl{ float:left; width:48px;}
.sort-t-rt .fl .button{ background-color:#f60; cursor:pointer;  color:#fff; border:0px; height:22px;font-weight:bold; *padding-top:3px; width:65px;}

.center_5{text-align:center; float:left; margin:1px 4px 3px 24px;padding:0px;display:inline;overflow:hidden;width:150px; height:200px;}
.center_5 div *{ vertical-align:middle;}
.center_5 div{margin-bottom:3px;}
.center_5_1{ width:150px; height:122px; border:1px solid #f1f1f1; overflow:hidden; display:table-cell; position:relative;text-align:center;vertical-align:middle; margin-bottom:2px;}
.center_5_1 span {position:static;+position:absolute;top:50%; display:block;}
.center_5_1 img{position:static;+position:relative;top:-51%;left:-50%; max-height:122px; max-width:150px;cursor:pointer;}

.page-number{text-align:center; height:27px; line-height:27px; }
.page-number a:link,.page-number a:visited{border:1px #ddd solid; text-decoration:none; padding:1px 5px 0; color:#f60; margin:0 2px;}
.page-number a:hover{color:#204c9a; border-color:#f60; background-color:#b9f1ff;}
.page-number a.current:link,.page-number a.current:visited{color:#fff; font-weight:bold; border-color:#f60; background-color:#f60;}
.page-number .previous,.page-number .next{border:1px #ddd solid; padding:1px 5px 0; color:gray; margin:0 2px;}

.info {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;border-color: #E9E9E9;border-image: none;border-style: solid;border-width: 0 1px;color: #666666;padding: 5px 5px 3px 10px;}
.info p {font-size: 13px;line-height: 26px;margin-bottom: 3px;}
.info p .time,.info p .phone{color: #FF4800;font-size: 18px;font-style: oblique;font-weight: bold;}
.info p .comment {color: #a52a2a;font-size: 12px;line-height: 20px;}

#shopCart {margin: auto;width: 235px;background: none repeat scroll 0 0 #FC8F29;}
#shopCart .items {height: auto;overflow: visible;background: none repeat scroll 0 0 #FFFAE6;margin: 0 4px;min-height: 210px;_height: 210px;padding: 0 0 0 3px;position: relative;z-index: 1;}
#shopCart .items .removeBtn {background-image: url("../img/del.gif");background-repeat: no-repeat;cursor: pointer;background-position: left center;padding-left: 13px;}
#shopCart .items table {width: 100%;}
#shopCart .items table th {font-weight: bold;height: 25px;border-bottom: 1px dashed #DDDDDD;}
#shopCart .items table td {background-color: #ffffff;height: 25px;line-height: 25px;}
#shopCart .items table td select {height: 22px;padding: 1px;}
#shopCart .total {height: 26px;text-align: center;color: #fff;line-height: 26px;padding-top: 10px;}
#shopCart .total .num {font-size: 14px;}
#shopCart .total .price {font-weight: bold;margin-left: 10px;font-size: 19px;}
#shopCart .action {text-align: center;padding: 10px;}
#shopCart .action .submitBtn {border:2px solid #f1f1f1;display: block;background-color: #696969;height: 35px;width: 100px;line-height: 35px;font-weight: bold;font-size: 20px;color: #FFFAE6;margin: auto;}

#bottom{text-align:center; margin-top:5px; margin-bottom:5px;color: #a2a2a2;font:12px/1.7 arial,"宋体"}
#bottom a{color:#a2a2a2;}