<link rel="stylesheet" href="<?=admin_static('css/bootstrap-timepicker.css')?>"/>
<div>
    <fieldset  id="newCoinForm">
        <div class="col-md-10">
            <form class="form-horizontal" method="post"  id="form-add"   action="?c=admin&a=report_week">
                <div class="form-group">
                    <label for="coin_name" class="col-md-1 control-label text-info"><strong>开始时间</strong></label>
                    <div class="col-md-3">
                        <input id="start_time" class="form-control date-picker" type="text"  data-date-format="yyyy-mm-dd" name="start_time" 
                        value="<?=$data['day_str_start_time']?>">
                    </div>
                    <label for="coin_name" class="col-md-1 control-label text-info"><strong>结束时间</strong></label>
                    <div class="col-md-3">
                        <input id="end_time" class="form-control date-picker" type="text"  data-date-format="yyyy-mm-dd" name="end_time" 
                        value="<?=$data['day_str_end_time']?>">
                    </div>
                    <div class="col-md-2">
                       <button type="button" class="form-control btn btn-success btn-xs"  id="btn-add"><i class="icon-search"></i> 指定查询</button>
                    </div>                    
                </div>
            </form>
        </div>
    </fieldset>
    <fieldset>
        <legend  >从<span class="report_day"><?=$data['day_str_start_time']?></span>到<span class="report_day"><?=$data['day_str_end_time']?></span>时间段详细信息
        <span class="report_day">* 默认是历史七天的日报汇总 可以自定义查看</span></legend>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th><th>币种</th><th>充值金额</th><th>提款金额</th><th>剩余数量</th><th>交易金额</th>
                        <th>交易手续费</th><th>提款手续费</th><th>返利金额</th>
                    </tr>
                </thead>
                <tbody>
                <?php
                    foreach ($data['day'] as $itemid => $item)
                    {
                ?>
                    <tr>
                         <td><?=$itemid+1?></td>
                        <td><?=$item['coin_code']?></td>
                        <td><?=$item['within']?></td>
                        <td><?=$item['withdraw']?></td>                        
                        <td><?=$item['surplus']?></td>
                        <td><?=$item['trade']?></td>
                        <td><?=$item['trade_fee']?></td>
                        <td><?=$item['withdraw_free']?></td>                        
                        <td><?=$item['rebate']?></td>
                    </tr>
                <?php
                    }
                ?>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<script src="<?=admin_static('js/date-time/bootstrap-datepicker.min.js')?>"></script>
<script type="text/javascript">
    $(function() {
		$('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
    })
</script>
<script type="text/javascript">
$(function() {
	$("#btn-add").click(function(){
	    var day= $("#day").val();
	    document.getElementById('form-add').submit();
	});
});
</script>