<div>
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" id="search_data">
        <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown"><i
                    class="icon-search"></i>查找用户 <span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" id="search_target">
                <li><a data-action="?c=admin&a=searchUser&userid=">用户ID</a></li>
                <li><a data-action="?c=admin&a=searchUser&email=">邮箱</a></li>
                <li><a data-action="?c=admin&a=searchUser&mobile=">手机号</a></li>
                <li><a data-action="?c=admin&a=searchUser&identity=">身份证号</a></li>
            </ul>
        </span><!-- /btn-group -->
        </div>
        <!-- /input-group -->
    </div>
    <div class="clearfix"></div>
    <fieldset id="search_status" class="hide">
        <legend id="search_cond"></legend>
        <div id="search_result" class="col-md-6">
            <h4 class="text-muted">努力加载中。。。</h4>
        </div>
    </fieldset>
</div>
<script>
    $(function () {
        $("#search_target").find("a").click(function () {
            var $this = $(this);
            var search_data = $("#search_data").val();
            $("#search_cond").html("查询条件是： <em class='text-danger'>" + $this.html() + "=" + search_data + "</em>");
            $("#search_status").removeClass("hide");
            $.get($this.data("action") + search_data, function (data) {
                $("#search_result").html(data);
            })
        })
    })
</script>
