<style type="text/css">
    .content {
        text-align: left;
        font-size: 13px;
        padding: 50px;
        line-height: 18px;
    }
</style>
<div class="content">
    <div>
        <?=$article['content']?>
    </div>
    <?php if($article['flag']==1):?>
    <div>
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="<?=$article['id']?>" data-title="<?=$article['title']?>" data-url="http://<?=$_SERVER['HTTP_HOST'].'?'.$_SERVER['QUERY_STRING']?>"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"songpijiu"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->
    </div>
    <?php endif;?>
</div>
