<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <?php @include_once( dirname(__FILE__) ) . DS . 'resource_head.tpl.html'; ?>
</head>
<body>
<?php @include_once( dirname(__FILE__) ) . DS . 'header.tpl.html'; ?>
<div class="main">
    <div>
        <table class="notice">
            <tbody>
            <tr>
                <td width="20%">&nbsp;</td>
                <td>
                    <marquee direction="left" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="3">
                        <a href="http://www.baidu.com" target="_blank">
                            2014年6月23日起，11：00前网上点餐每笔定单满50元送一个两升装的大桶饮料，不满50元每份餐立减一元，本优惠活动两者不能同时享用,机会不多送完为止快来抢购吧！
                        </a>
                    </marquee>
                </td>
                <td width="20%">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <!--<a>
            <img alt="订餐页面广告" src="static/img/ad1.jpg">
        </a>-->
    </div>

    <?php
        $tfile = 'view' . DS . 'layout' . DS  . 'web' . DS . g('component') . '.tpl.html';
        if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
        else @include( CROOT . $tfile );
    ?>

    <div class="clearfix"></div>
    <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>
</div>
<?php @include_once( dirname(__FILE__) ) . DS . 'resource_bottom.tpl.html'; ?>
</body>
</html>