<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><?=$sysconfig['name']?></title>
    <meta property="qc:admins" content="34476641177012156375" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <?php @include_once( dirname(__FILE__) ) . DS . 'resource_head.tpl.html'; ?>
</head>
<body>
<?php @include_once( dirname(__FILE__) ) . DS . 'header.tpl.html'; ?>
<div class="main">
    <div>
        <table class="notice">
            <tbody>
            <tr>
                <td width="20%">&nbsp;</td>
                <td>
                    <marquee direction="left" scrollamount="3">
                        <a href="?c=article&a=view2&alias=notice" target="_blank">
                            <?=$notice['content']?>
                        </a>
                    </marquee>
                </td>
                <td width="20%">&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <!--<a>
            <img alt="订餐页面广告" src="static/img/ad1.jpg">
        </a>-->
    </div>

    <?php
        $tfile = 'view' . DS . 'layout' . DS  . 'web' . DS . g('component') . '.tpl.html';
        if( file_exists( AROOT . $tfile ) ) include( AROOT . $tfile );
        else @include( CROOT . $tfile );
    ?>

    <div class="clearfix"></div>
    <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>
</div>
<?php @include_once( dirname(__FILE__) ) . DS . 'resource_bottom.tpl.html'; ?>
</body>
</html>