#search_status {
    margin-top: 20px;
}
#search_result {
    font-size: 15px;
}
#search_result li {
    margin-top: 3px;
}
#coin_code {
    text-transform: uppercase;
}
.report_day {
	color: red;
	font-weight: bold;
}